@charset "UTF-8";
$global-unit: rem;
$designWidth: 375;

.u-layerWrap {
  @include fixed(
    (
      t: 0,
      l: 0,
      w: 100%,
      h: 100%,
      z: 100
    )
  );
  @include flex;
  @include ai(center);
  @include jc(center);
  @include tac;
  // @include hide();
}

.u-layer-mask {
  @include fixed(
    (
      t: 0,
      l: 0,
      w: 100%,
      h: 100%,
      z: 100
    )
  );
  @include bgc(rgba(0, 0, 0, 0.5));
}

.u-layer-main {
  @include rel();
  @include w(270);
  @include z(102);
  @include bgc(#fff);
  @include bdrs(8);
}

.u-layer-title {
  @include flcb(18, 18, #666);
  @include pad(20 0 0 0);
  @include tofl;
}

.u-layer-btnMain {
  @include flex;
  @include wh(100%, 44);
  @include bdt(1 solid #ccc);
}

.u-layer-btn {
  @include flc(18, 44, #666);
  @include fx(1);
  @include tac;
  @include tofl;

  &:nth-child(2) {
    @include bdl(1 solid #ccc);
  }
}

.u-layer-btnCur {
  @include c(#037aff);
}

.u-layer-center {
  @include pad(10 0);
  @include flex;
  @include ai(center);
  @include jc(center);
  @include tac;
  @include flc(14, 22, #666);
}

.u-dialog-fade-enter-active {
  @include css3(animation, dialog-fadein 0.4s);
  // .u-layer-mask {
  //   @include css3(animation, dialog-fadein 0.4s);
  // }
  .u-layer-main {
    @include css3(animation, dialog-zoom 0.4s);
  }
}

.u-dialog-fade-leave-active {
  @include css3(animation, dialog-fadein-leave 0.2s);
}

@include keyframes(dialog-fadein) {
  0% {
    @include opa(0);
  }
  100% {
    @include opa(1);
  }
}

@include keyframes(dialog-fadein-leave) {
  0% {
    @include opa(1);
  }
  100% {
    @include opa(0);
  }
}

@include keyframes(dialog-zoom) {
  0% {
    #{$browser}transform: scale(0);
  }
  50% {
    #{$browser}transform: scale(1.1);
  }
  100% {
    #{$browser}transform: scale(1);
  }
}
